/* Таблиця */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
li {
    float: left;
}
li a, .dropbtn {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 
li a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(255, 255, 255);
} 
li.dropdown {
    display: inline-block;
}  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
} 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.topnav-right {
  float: right;
} 
.dropdown-content a:hover {background-color: #ffffff;} 
.dropdown:hover .dropdown-content {
    display: block;
}
.horizontal-menu img{
    height: 40px;
    width: 40px;
}
/* Таблиця */

@font-face {
    font-family: gagalin;
    src: url(../fonts/Gagalin-Regular.otf);
}
.text{
    font-family: gagalin;
    font-size: 25px;
}
@media screen and (max-width: 1025px) {
    .m-footer__title--callback {
        margin-left:25%
    }
}
.m-footer__title--callback{
    margin-right: 30%;
}
@font-face {
    font-family: Intro;
    src: url(../fonts/Intro.otf);
}
.text1{
    font-family: Intro;
    font-size: 15px;
    text-align: center;
}
.c-list__item{
    font-size: 10px;
}
.card-text{
    font-size: 10px;
}
.card-title{
    font-family: Intro;
    font-size: 15px;
}
@font-face {
    font-family:Nautilus;
    src: url(../fonts/Nautilus.otf);
}
.text2{
    font-family: Intro;
    font-size: 30px;
    text-align: center;
}
.item {
    margin-left: 150px;
}
@font-face {
  font-family:SmoochSans;
  src: url(/fonts/SmoochSans-VariableFont_wght.ttf);
}
h6{
font-family: SmoochSans;
font-size: large;
margin: 60px;
}
.text4{
  font-family: gagalin;
  font-size: 25px;
  background-color: rgba(95, 95, 95, 0.575);
}
* {
    box-sizing: border-box;
}
body {
    background-color: #f1f1f1;
    padding: 20px;
    font-family: Arial;
}
/* Center website */
.main {
    max-width: 1000px;
    margin: auto;
}
h1 {
    font-size: 50px;
    word-break: break-all;
}
.row {
    margin: 8px -16px;
}
.col-container {
    display: table;
    width: 100%;
}
.col {
    display: table-cell;
    padding: 16px;
}
.columns-2 {
  columns: 250px 2;
  column-gap: 30px;
  column-rule: 2px solid black;
}
img {
  max-width: 100%;
  height: auto;
  
  vertical-align: middle;
}
.button {
  border-radius: 4px;
  background-color: #616161;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 10px;
  padding: 20px;
  width: 110px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button:hover span {
  padding-right: 25px;
}
.button:hover span:after {
  opacity: 1;
  right: 0;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;  
  cursor: pointer;
  padding: 15px;
  border-radius: 50%;
  background-color: transparent;
}
/* Slideshow container */
.mySlides {display: none;}
.img4 {vertical-align: middle;}
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 2s ease;
}
.active {
  background-color: #717171;
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
input[type=text] {
  width: 130px;
  -webkit-transition: width 2s ease-in-out;
  transition: width 2s ease-in-out;
}
input[type=text]:focus {
  width: 100%;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: Arial;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}
.column img {
  opacity: 0.8; 
  cursor: pointer; 
}
.column img:hover {
  opacity: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  position: relative;
  display: none;
}
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
.column {
  float: left;
  width: 25%;
  padding: 10px;
}
.column img {
  opacity: 0.8;
  cursor: pointer;
}
.column img:hover {
  opacity: 1;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.container {
  position: relative;
  display: none;
}
#imgtext {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 20px;
}
.closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
}
